<section class="relative w-screen h-screen">
    <app-navbar (toggleSidebar)="sidebar.toggle()"/>
    <mat-sidenav-container>
      
  
      <!-- Sidebar -->
      <mat-sidenav #sidebar [mode]="mobileScreen?'over':'side'" [opened]="mobileScreen?false:true">
          <mat-list>
              <mat-list-item *ngFor="let item of navItems" [routerLink]="item.link">
                <div>
                  <img [src]="item.icon" width="25" alt="">
                  {{ item.name }}
                </div>
          </mat-list-item>
          
          <!-- Logout button -->
          <!-- <mat-list-item>
            <div>
              <img src="assets/icons/navigation/logout.png" alt="logout" width="25">
              <span class="text-red-500 font-semibold"><button (click)="logout()">Logout</button></span>
            </div>
          </mat-list-item> -->
  
          </mat-list>
      </mat-sidenav>
  
      <!-- Main content -->
      <mat-sidenav-content class="bg-white">
           <router-outlet />
      </mat-sidenav-content>
    </mat-sidenav-container>
  </section>
  