mat-sidenav {
    width: 250px;
    height: calc(100vh - 4rem);
}

mat-sidenav-content {
    height: calc(100vh - 4rem);
}

mat-list-item div {
    display: flex;
    align-items: center;
    gap: 10px;
}

