<section @fadeIn @fadeOut class="h-full">
    <div class="w-full p-4 h-32 bg-cover flex justify-center items-center" style="background-image: url('assets/images/exercises/exerciseListBanner.png')">
        <h1 class="text-4xl font-bold text-white">Exercises</h1>
    </div>

    <div class="max-w-full overflow-x-scroll">
        <table mat-table [dataSource]="exercisesList">
    
            <!-- Name column -->
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef>Name</th>
                <td mat-cell *matCellDef="let exercise"> {{ exercise.name }} </td>
            </ng-container>
    
            <!-- Muscles column -->
            <ng-container matColumnDef="muscles">
                <th mat-header-cell *matHeaderCellDef>Muscles</th>
                <td mat-cell *matCellDef="let exercise"> {{ exercise.muscles }} </td>
            </ng-container>
    
            <!-- Equipment column -->
            <ng-container matColumnDef="equipment">
                <th mat-header-cell *matHeaderCellDef>Equipment</th>
                <td mat-cell *matCellDef="let exercise"> {{ exercise.equipment.length == 0 ? "None" : exercise.equipment }} </td>
            </ng-container>
    
            <!-- View exercise button -->
            <ng-container matColumnDef="view">
                <th mat-header-cell *matHeaderCellDef>View</th>
                <td mat-cell *matCellDef="let exercise"> <app-view-exercise-button [exerciseId]="exercise.exerciseId"/> </td>
            </ng-container>

             <!-- Add exercise button -->
             <ng-container matColumnDef="add-to-plan">
                <th mat-header-cell *matHeaderCellDef>Add To Plan</th>
                <td mat-cell *matCellDef="let exercise"><button class="text-blue-500" (click)="openDialog(exercise.exerciseId, exercise.name)">Add</button></td>
            </ng-container>
    
            <tr mat-header-row *matHeaderRowDef="displayedColumns" ></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
</section>
