Frontend/FitnessWorkoutSystemFrontend/node_modules
Frontend/FitnessWorkoutSystemFrontend/.git
Frontend/FitnessWorkoutSystemFrontend/src/environments/environment.ts
Backend/FitnessAndWorkoutSystem/.env