mat-sidenav {
    width: 250px;
    min-height: calc(100vh - 4rem);
}

mat-sidenav-content {
    min-height: calc(100vh - 4rem);
}

mat-list-item div {
    display: flex;
    align-items: center;
    gap: 10px;
}

mat-sidenav-container {
    top: 4rem;
}

mat-list {
    margin-top: 4rem;
}



