<section @fadeIn @fadeOut class="h-full w-full p-5 flex flex-col justify-center items-center">
    <div class="flex flex-col gap-2 items-center">
        <h1 class="text-center text-3xl font-semibold">Achieve your best physique with FitShphere Premium</h1>
        <span class="text-2xl font-medium">₹499.00/month</span>
        <span>Get access to:</span>
        <ul>
            <li class="flex gap-2">
                <img src="assets/icons/tick.png" width="20" alt="feature-tick">
                <span>Personlized guidance from our expert trainers</span>
            </li>

            <li class="flex gap-2">
                <img src="assets/icons/tick.png" width="20" alt="feature-tick">
                <span>Access to workout plans designed by our trainers tailored to your goals</span>
            </li>

            <li class="flex gap-2">
                <img src="assets/icons/tick.png" width="20" alt="feature-tick">
                <span>One-to-one sessions with nutritionists</span>
            </li>

            <li class="flex gap-2">
                <img src="assets/icons/tick.png" width="20" alt="feature-tick">
                <span>Access to meal plans that suit your diet and goals</span>
            </li>
        </ul>

        <button mat-flat-button color="primary" (click)="intiatePayment()">Buy now</button>
    </div>
</section>