<section  @fadeIn @fadeOut *ngIf="meal != undefined" class="p-6 flex flex-col gap-3">
    <a routerLink="../../meals" class="text-blue-500">Back</a>
    <h1 class="text-3xl font-bold">{{ meal.name }}</h1>
  
    <span>{{ meal.description }}</span>
  
    <div>
      <h2 class="text-xl font-semibold">Ingredients</h2>
      <ul class="list-none">
        <li *ngFor="let ingredient of meal.ingredients">{{ ingredient }}</li>
      </ul>
    </div>
  
    <div>
      <h2 class="text-xl font-semibold">Recipe</h2>
      <ol class="list-decimal px-4">
        <li *ngFor="let step of meal.recipe">{{ step }}</li>
      </ol>
    </div>
  
    <div>
      <h2 class="text-xl font-semibold">Reference Video</h2>
      <iframe width="560" height="315" [src]="meal.videoLink" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
  </section>
  <ng-template #elseBlock><mat-spinner /></ng-template>
  